body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #393646;
    width: 100%;
}

.logo {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    /* border: 1px solid black; */
    position: relative;
    left: 70px;
}

.navbar {
    float: right;
    margin: 27px;
    position: relative;
    top: 10px;
}

.navbar a {
    padding: 18px;
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.navbar a:hover {
    font-size: 20px;
    color: #03c988;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {
    position: relative;
    left: 100px;
    top: 30px;
    text-align: left;
}

.home .content span {
    font-size: 4rem;

    color: #04364a;
    font-family: "Raleway", sans-serif;
}

.home .content blockquote {
    font-family: "Montserrat";
    text-decoration: underline;
    position: relative;
    left: 100px;
    padding-bottom: 20px;
}

.home .content h3 {
    font-size: 3rem;
    width: 35rem;
    font-family: "Montserrat";
    color: #04364a;
    margin-top: 40px;
}

.content-btn button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 60px;
    font-family: "Montserrat";
    color: #232d3f;
    cursor: pointer;
}

.content-btn button:hover {
    background-color: #d80032;
    color: white;
    border: 1px solid #d80032;
    transition: 0.3s;
}

.container1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 30px;
    /* bottom: 28vh; */
    background-color: #393646;
}

.cont-card {
    width: 25%;
    border: 1px solid #ddd;
    /* Add a border for separation */
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 4px;
}

.cont-card h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    color: #3f1d38;
}

.cont-card p {
    text-align: left;
    color: #2c3333;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 12px;
    font-size: 19px;
}

.cont-card button {
    position: relative;
    left: 80px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3rem;
    cursor: pointer;
}

button:hover {
    background-color: #c70039;

    border: 1px solid #c70039;
    transition: ease;
    transition-duration: 0.5s;
}

.cont-card button a {
    text-decoration: none;
    color: #2c3333;
}

.cont-card .btn1 button:hover {
    color: white;
}

.vendor {
    text-align: center;
    background-color: #393646;
}

.vendor .heading h1 {
    padding-top: 3em;
    padding-bottom: 15px;
    font-size: 50px;
    color: white;
    margin-top: 0px;
}

.vendor-cards {
    background-color: #393646;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .vedor-imgs{
    padding-top: 3em;
    width: 30%;
    background-color: #393646;
    margin-bottom: 15px;
    border:1px solid black;
    border-radius: 4px ;
    
}
.div-img{
    border: 1px solid white;
    width: 30%;} */

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding-top: 50px;
    background-color: #393646;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 75%;
    margin: 0px 25px;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 20px rgba(88, 214, 242, 0.3);
    /* Add a shadow on hover */
}

.card img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.card-info {
    margin-top: 15px;
}

h2 {
    font-size: 2rem;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: #04364a;
}

p {
    font-size: 1rem;
    color: #555;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.card-container .card .btn-link {
    font-size: 13px;
    text-decoration: none;
    text-transform: capitalize;
    float: left;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    font-family: "Montserrat";
}

.card-container .card .btn-link:hover {
    background-color: #495e57;
    color: white;
    transition: 0.3 ease;
    border: 0px solid #495e57;

}

#clients {
    background-color: #393646;
}

.heading {
    text-align: center;
}

.heading h1 {
    margin-top: 0px;
    padding-top: 10%;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    color: white;
}

.clients .row {
    display: flex;
}

.clients .row .box-container .box img {
    height: 15rem;
    width: 60%;
    object-fit: cover;
    margin-left: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    /* padding-bottom: 0rem; */
    margin-bottom: 3rem;
}

.clients .row .box-container .box .info {
    padding: 2rem 0;
}

.clients .row .box-container .box .info h3 {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 11rem;
    text-transform: capitalize;
    text-decoration: overline underline 2px;
}

.clients .row .box-container .box .info p {
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0;
    font-family: "Rajdhani";
    width: 75%;
    margin-left: 4rem;
    /* margin-bottom: 2rem; */
    position: relative;
    bottom: 2rem;
}

.clients .row .box-container .box .info p i {
    padding: 0 0.5rem;
}

/* delete it */
.box-container .box .info p span {
    font-size: 12px;
}

#team {
    background-color: #393646;
}

.team .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.team .box-container .box {
    /* margin:1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
    background:#fff url(../images/card-bg.png) no-repeat;
    padding:4.7rem 2rem;
    text-align: center;
    background-size: cover;
    flex:1 1 33rem; */
    border: 1px solid black;
    border-radius: 4px;
    width: 35%;
    gap: 7px;
    /* display: grid; */
    column-gap: -27px;
    /* padding: 6rem; */
    margin: 0px 2rem;
    background-color: #fff;
    margin-top: 5rem;
}

.team .box-container .box img {
    border-radius: 50%;
    /* object-fit: cover; */
    /* height: 10px; */
    width: 35%;
    padding: 0.8rem;
    float: center;
    /* text-align: center; */
    position: relative;
    left: 30%;
    margin-top: 2rem;
}

.team .box-container .box h3 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;
    text-transform: capitalize;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #04364a;
}

/* .team .box-container .box span{
    font-size: 1.3rem;
    text-align: center;
  } */

.team .box-container .box p {
    font-size: 0.8rem;
    color: #322653;
    padding: 1rem 0;
    text-align: center;
    font-family: "Montserrat";
}

.team .box-container .box .share {
    padding: 1rem 0;
    text-align: center;
}

.team .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: rgb(30, 48, 80);
    background: #eee;
    text-decoration: none;
}

.team .box-container .box .share a:hover {
    color: #0f0f0f;
}

.contact-page {
    background-color: #393646;
}

.contact-page form {
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 60%;
    margin-left: 14rem;
    margin-top: 5rem;
}

.contact-page form .inputbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-page form .inputbox input {
    width: 38%;
    font-size: 1rem;
    border: 1px solid black;
    padding: 13px 20px;
    margin-bottom: 3rem;
    font-family: "Rajdhani";
    text-transform: capitalize;
}

.contact-page form textarea {
    text-transform: capitalize;
}


.submit-btn {
    text-decoration: none;
    color: black;
}

.submit-btn button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 3rem;
    font-size: 1rem;
    color: black;
    font-family: "Montserrat";
    cursor: pointer;
}

.contact-page form button:hover {
    color: white;
    background-color: #c70039;
    border: 1px solid #c70039;
    border-radius: 0px;
}

.submit-btn button:hover {
    color: white;
}


.contact-page2nd {
    margin-top: 10rem;
}

.contact-us {
    display: flex;
    justify-content: space-around;

}

.contact-us p {
    color: white;
    font-family: "Montserrat";
}

.contact-us a {
    color: #fa4a6f;
    text-decoration: none;
    border: 1.3px solid #fa4a6f;
    border-radius: 40px;
    font-size: .8rem;
    padding: 15px 40px;
    background-color: #fff;
    letter-spacing: 1px;
    font-family: "Montserrat";
    margin-bottom: 2rem;

}

.contact-us span {
    color: #fa4a6f;
    text-decoration: none;
    border: 1.3px solid #fa4a6f;
    border-radius: 40px;
    font-size: .8rem;
    padding: 15px 40px;
    /* background-color: #fff; */
    position: relative;
    right: 1.8rem;
    font-family: "Montserrat";
    margin-bottom: 2rem;

}

.contact-us .p-head {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Ubuntu';
    text-decoration: underline;

}

.contact-us a:hover {
    background-color: #fa4a6f;
    color: white;
}

a i.fa-envelope {
    color: #fa4a6f;
}

a:hover i.fa-envelope {
    color: white
}


.contact-us span:hover {
    color: white;
    background-color: #fa4a6f;
}

span i.fa-phone {
    color: #fa4a6f;
}


span:hover i.fa-phone {
    color: white;
}


footer p {
    text-transform: capitalize;
    word-spacing: 2px;
    text-align: center;
    background-color: #205295;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
    color: #fff;
}


@media (max-width:1024px) {
   
    .home .content span {
        font-size: 2rem;
    }
    .cont-card {
        width: calc(50% - 20px);
    }

}

@media(max-width:786px){
    

    /* .home .content span {
        font-size: .5rem;
    }

    .team .box-container .box h3{
        font-size: 1rem;
    } */

    p{
      font-size:1rem
    }
}

/* @media(max-width::cue) */